<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="mailto:vmoustier@gmail.com">Victor de Moustier</a>
      by keuv
    </small>
    <nav>
      <ul><%= link_to "about", about_path %></ul>
    </nav>
  </footer>
</div>
